*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(216, 214, 214);
}


.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.search-results{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 50px;
    place-items: center;
}

.no-search-result{
    color: red;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

.brand_name{
    color: red;
}