*{
    margin: 0;
    padding: 0;
}




.search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.search-results{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 50px;
    place-items: center;
}

.no-search-result{
    color: red;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

.brand_name{
    color: red;
}

.empty-inputField{
    color: red;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

.phone-detail{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    margin-bottom: 5%;
    padding: 20px;
}


/* .phone-detail-section{
    display: flex;
    justify-content:space-evenly;
    background-color: white;
    
} */

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.details img{
    width: 300px;
}



.results-number-section{
    color: red;
    font-weight: bold;
    display: none;

}